html, body, .wrapper{height: 100%; width: 100%;}
body {font-family: 'Lato', sans-serif !important;font-size: 14px;color: #333; font-weight: normal;overflow-x: hidden;line-height: 25px;}
.logo{
    text-align: center;
}

.flex-container{
  padding-left: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

a, a:hover{
    outline: 0;
    text-decoration: none;
    color: #222222;
}


/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover
{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login-box{
  margin-bottom: 20px;
  background: #fff;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 20px 20px 20px 20px;
  border-radius: 0px;
}
.form-control.user {
    background: #FFF url(../img/small/user_small.png) no-repeat 95% center;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -ms-transition: all 0 ease;
    -o-transition: all 0 ease;
    transition: all 0 ease;
}

.form-control.password {
    background: #FFF url(../img/small/key_small.png) no-repeat 95% center;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -ms-transition: all 0 ease;
    -o-transition: all 0 ease;
    transition: all 0 ease;
}

.form-control.email {
    background: #FFF url(../img/small/email.png) no-repeat 95% center;
    -webkit-transition: all 0 ease;
    -moz-transition: all 0 ease;
    -ms-transition: all 0 ease;
    -o-transition: all 0 ease;
    transition: all 0 ease;
}

form .form-control, form select {
    display: block;
    background: #fefefe;
    color: #6c6c6c;
    border-radius: 2px;
    margin: 10px auto;
    padding: 8px;
    resize: none;
}
.form-control {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 8px 12px;
    font-size: 13px;
    color: #555;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    -moz-transition: all .2s linear 0,box-shadow .2s linear 0;
    -o-transition: all .2s linear 0,box-shadow .2s linear 0;
    transition: all .2s linear 0,box-shadow .2s linear 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control-bg{
   background-color: #F3F6F8 !important;
}
.form-control:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.form-control-bg:focus{
  border-color: #d3d3d3;
  background-color: #e9ebef;
}

#submit-form {
    margin: 20px auto;
    display: block;
}

.btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    border-radius: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.btn.btn-login {
    padding: 7px 30px;
    display: block;
    border: 1px solid rgba(0,0,0,0);
    color: #FFF;
    text-transform: uppercase;
    background: #FFCC29;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin: 20px auto;
}

.btn:hover, .btn:focus {
    outline: 0;
}
.btn.btn-login:hover {
    border: 1px solid #FFF;
    opacity: .8;
    box-shadow: none;
}

.login-links {
    text-align: center;
}

.login-links a {
    color: #222;
    display: inline-block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding: 5px;
}
a, a:focus, a:hover, a:active {
    outline: 0;
}

.login-links a:hover, .login-links a:active,
.login-links a:visited{
    opacity: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFCC29;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 10px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F3F6F8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a.btn.btn-facebook {
    background: #444444;
    color: #FFFFFF;
}

a.btn.btn-twitter {
    background: #4a9eff;
    color: #FFFFFF;

}

.social-login a.btn {
    background-size: 100%;
    font-size: 12px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    margin: 5px auto;
    padding: 5px;
}

/*SWITCH FORM */
section.form{
  margin: 0 auto;
  color: #222;
}
@media (max-width: 991px) {
	section.form{
    padding: 145px 5px 5px 5px;
  }
  .question {
    font-size: 12px;
  }

}
.switch-form, .form-query {
    font-family: Source Sans Pro, Helvetica, Arial, Noto Naskh Arabic, Noto Sans Thai, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Thonburi, Dokchampa, Droid Sans Thai, Hiragino Sans GB W3, Heiti SC, Segoe UI, Microsoft Yahei, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', sans-serif;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0,0,0,0.7);
    font-size: 15px;
    margin: 0 0 16px;
    padding: 0;
    border: 0;
    outline: 0;

    vertical-align: baseline;
    background: transparent;
}
.switch-form .label.question {
    width: 100%;
    text-align: left;
}
.switch-form .label:first-child {
    margin-top: 0;
}
.question {
    font-family: Source Sans Pro, Helvetica, Arial, Noto Naskh Arabic, Noto Sans Thai, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Thonburi, Dokchampa, Droid Sans Thai, Hiragino Sans GB W3, Heiti SC, Segoe UI, Microsoft Yahei, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', sans-serif;
    line-height: 24px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    font-size: 17px;
    background: #F3F6F8;
    border: 1px solid #CDCFD2;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;
    padding: 12px 16px;
}
.switch-form .label {
    margin: 16px 0 0;
}
.form-el-group {
    padding: 5px 16px;
}
.form-el-group, .entry-form-page .form-query >.form-el {
    border: 1px solid #CDCFD2;
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
}

.input-text-other{
  margin-left: 10px;
}

.error-text, .other-error-text{
    display: none
}

.container{
    clear: both;
    margin: 0 auto;
}

.switch-form .form-el {
    overflow: auto;
}

/*SWITCH FORM */

.footer ul{
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  list-style-type: none;
  color: #FFF;
}

.footer ul li{
  display: inline-block;
  text-align: center;
  opacity: 0.5;
  font-size: 10px;
  margin-right: 10px;
  transition: all 0.5s ease-in;
}

.footer ul li:hover{
  opacity: 1;
}

.footer ul li a,.footer ul li a:hover,
.footer ul li a:active{
  text-decoration: none;
  outline: 0;
}
/* input icons */
.input-icon i {
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #e5eaec;
    display: block;
    text-align: center;
    position: absolute;
    margin: 10px;
}
