.main-body {
	background: #f7f7f7;
	min-height: 100vh;
	padding-top: 30px;
}
.content {
	margin: 0 auto;
	width: 50%;
	background: white;
	min-height: 70vh;
	position: relative;
}
.content-header {
	padding: 20px 0;
	background: grey;
}
.content-footer {
	position: absolute;
	bottom: 0;
	background: #444;
	width: 100%;
	color: white;
	padding: 20px;
	font-size: 12px;
}
.content-footer p {
	margin-bottom: 5px;
}
.main-content {
	padding: 20px;
}
.brand-btn {
	background: #FFCC29;
	color: white;
	font-weight: bolder !important;
	width: 100%;
	padding: 20px !important;
}
.btn-div {
	margin: 0 auto;
	width: 70%;
	padding: 20px;
}