.main-body {
	min-height: 100vh;
	display: table;
    position: absolute;
}
.content {
	margin: 0 auto;
	width: 50%;
	display: table-cell;
    vertical-align: middle;
}
.m-t-15 {
	margin-top: 15px;
}
.checked img {
	height: 100px;
}
div a:hover {
	text-decoration: none;
}